@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body{
margin: 0px;
font-family: 'Noto Sans', sans-serif;
}
.navbar{
	background-color: rgba(0,0,0,.5);
}
.navbar-brand{
	color: #76e47b !important;
}
.navbar ul a{
	color: #3bff44 !important;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	padding-left: 25px !important;
	padding-right: 25px!important;
}
.navbar ul a:hover{
	color: #76e47b !important;
	border-bottom: 2px solid red;
	border;
}
.navbar-toggler-icon{
	color: yellow;
}
.form-control{
	color: #d0c0c0 !important!;
}
#letter-t{
	color: red;
}
.top-image{
	background-image: linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),url(resources/mathematics.jpg);
	margin: 0px;
	color: white;
	font-weight: bold;
	padding: 150px 0px 100px 15px;
	font-weight: bold;
	background-size: cover;
	font-size: 54px !important;
}

.stats{
	background-color: #de24c6;
	color: white;
	line-height: 0;
	margin: 0;
	padding: 10px 20px 10px 20px;

}
.checked{
	color: orange! important;
	font-size: 30px !important;
}
.unchecked{
	color: gray !important;
	font-size: 30px !important;
}
.rating-stars:hover{
	color: green !important;
}
.unchecked:hover{
	color: yellow !important;
}
.stats img{
	width: 40px;
	position: relative;
}
.content-pages{
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
}
.content-pages a:hover{
	color: green;
}
.content-pages{
	border-bottom: 2px solid green;
}
.content-pages li:hover{
	border-bottom: 4px solid red;
}
.content-pages ul li a{
	text-decoration: none;
	padding: 0px 20px 0px 20px;
	font-weight: bold;
}
.content-pages ul li{
	display: inline-block;
}
hr{
	padding: 0px;
	margin: 0px;
	border: 3px solid red;
	width: 100px;
}
.thumbnail{
	background-color: #e2d9c2;
	margin: 8px;
	font-size: 10px;
	line-height: 1px;
}
.thumbnail img{
	width: 70px;
	height: ;
	text-align: center;
	padding: 0px;
}
.img-logo{
	text-align: center;
	padding: 20px;
}
.amount{
	text-align: right;
	padding-bottom: 10px;
	margin: 0px
}
footer{
	background-color: black;
	color: white;
	padding: 10px 0px 10px 0px;
	margin-top: 10px;
}
h5{
	padding-top: 80px;
}
footer a:hover{
	text-decoration: none;
}
footer .fa{
	color: white;
	font-size: 15px;
}


/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }